/*Resetea estilo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Seteamos el estilo de todo el documento*/
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
    padding: 1rem;
}

/* Encabezado */
header {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: #e50914;
    text-shadow: 5px 5px 5px #000000;
    font-style: normal;
    letter-spacing: 0.5rem;
    background-color: #1f1f1f;
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #e50914;
}

/*Ancla del ancla H1*/
header h1 a {
    text-decoration: none;
    color: #e50914;
    text-shadow: 5px 5px 5px #000000;
}

/*Configuración del menú de navegación*/
.menu-navegacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2rem;
    justify-content: space-evenly;
    gap: 5px;
}

.menu-navegacion li {
    list-style-type: none;
    text-shadow: none;
    cursor: pointer;
}

.menu-navegacion li a {
    color: #e50914;
    text-decoration: none;
}

.menu-navegacion li a:hover {
    color: #9acd32;

}

/*Configuración Clase nombre-cine*/
.nombre-cine {
    color: #e50914;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
}

/*Configuración de la sección Inicio*/
#intro {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: baseline;
    padding: 1rem;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 2px solid #e50914;
}

#intro .texto-intro {
    font-size: 1.5rem;
    flex: 50vh;
    line-height: 2;
    text-align: center;
    /*border: solid white;*/
}

#intro img {
    flex: 40vh;
    width: 40vw;
    padding: 1rem;
}

/*Configuración del H2*/
h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: #e50914;
}

/*Configuración sección Posters*/
#contenedor-posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    gap: 3rem;
    border-bottom: 2px solid #e50914;
    /*border: solid white;*/
}

.poster {
    text-align: center;
    width: 30%;
    transition: 0.5s ease;
}

.poster:hover {
    /* Mueve la tarjeta 5px hacia arriba */
    transform: translateY(-15px);

}

.poster img {
    border-radius: 10px;
    width: 100%;
    box-shadow: 5px 5px 15px 5px #3d3d3d;
}

.poster h3 {
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
}



/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    header {
        font-size: 2rem;
    }

    #intro .texto-intro {
        font-size: 1rem;
        line-height: 2;
    }

    .poster h3 {
        color: white;
        padding: 0.5rem;
        font-size: 0.8rem;
    }
}

/* Footer */
footer {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #333;
    color: #888;
}