/*Resetea estilo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Efecto de transición suave entre las anclas*/
    scroll-behavior: smooth;
}

/* Seteamos el estilo de todo el documento*/
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
    padding: 1.5rem;
}

/* Encabezado */
header {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: #e50914;
    text-shadow: 5px 5px 5px #000000;
    font-style: normal;
    letter-spacing: 0.5rem;
    background-color: #1f1f1f;
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #e50914;
}

/*Ancla del ancla H1*/
header h1 a {
    text-decoration: none;
    color: #e50914;
    text-shadow: 5px 5px 5px #000000;
}

/*Configuración del menú de navegación*/
.menu-navegacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2rem;
    justify-content: space-evenly;
    gap: 5px;
}

.menu-navegacion li {
    list-style-type: none;
    text-shadow: none;
    cursor: pointer;
}

.menu-navegacion li a {
    color: #e50914;
    text-decoration: none;
}

.menu-navegacion li a:hover {
    color: #9acd32;

}

/*Configuración Clase nombre-cine*/
.nombre-cine {
    color: #e50914;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
}

/*Configuración de la sección Inicio*/
#intro {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: baseline;
    padding: 1rem;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 2px solid #e50914;
}

#intro .texto-intro {
    font-size: 1.5rem;
    flex: 50vh;
    line-height: 2;
    text-align: center;
    /*border: solid white;*/
}

#intro img {
    flex: 40vh;
    width: 40vw;
    padding: 1rem;
}

/*Configuración del H2*/
h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: #e50914;
}

/*Configuración sección Posters*/
#contenedor-posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    gap: 3rem;
    border-bottom: 2px solid #e50914;
}

.poster {
    text-align: center;
    width: 25%;
    transition: 0.5s ease;
}

.poster:hover {
    /* Mueve la tarjeta 5px hacia arriba */
    transform: translateY(-15px);

}

.poster img {
    border-radius: 10px;
    width: 100%;
    box-shadow: 5px 5px 15px 5px #3d3d3d;
}

.poster h3 {
    color: white;
    padding: 0.5rem;
    font-size: 1.2rem;
}

/*Configuración sección Sinopsis y Trailers*/
#contenedor-sinopsis{
    display: grid;
    /*Dos columnas de todo el ancho*/
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    /*border: solid white;*/
}

.sinopsis {
    box-shadow: 5px 5px 15px 9px #1f1f1f;
    grid-template-columns: 1fr;
}

.sinopsis h2 {
    font-size: 2.5rem;
    margin: 1rem;
    /*border: solid white;*/
}

.sinopsis p {
    margin: 1rem;
    font-size: 1.2rem;
}

/*Configuración contenedor trailers*/
.contenedor-trailers {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /*Relación 16:9 */
    /*Se pone para que el contenedor no tenga altura propia, y así el padding sea el que le dé forma.*/
    height: 0;
    /*Oculta cualquier contenido que se desborde*/
    overflow: hidden;
}

.contenedor-trailers iframe {
    padding: 1rem;
    /*Coloca el iframe en la esquina superior izquierda*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*Configuración Formulario*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
    font-size: 1.5rem;
}

input,
textarea,
button {
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

input,
textarea {
    background-color: #1f1f1f;
    color: #fff;
}

button {
    background-color: #e50914;
    color: white;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    width: 40%;

}

button:hover {
    background-color: #ca0707b6;
}

.checkbox-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    header {
        font-size: 2rem;
    }

    #intro .texto-intro {
        font-size: 1rem;
        line-height: 2;
    }

    .poster {
        width: 35%;
    }

    .poster h3 {
        color: white;
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    #contenedor-sinopsis-trailers {
        grid-template-columns: 1fr;
    }

    .sinopsis h2 {
        font-size: 2rem;
        margin: 1rem;
    }

    .sinopsis p {
        margin: 1rem;
        font-size: 1rem;
    }
}

/* Footer */
footer {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #333;
    color: #888;
}